$light: #fff;
$primary-color: rgb(154, 196, 75);
// $primary-color: #13b1cd;
$secondary-color: #754bc4;
$event-color: #c54041;
$law-color: #b99769;
$black: #242424;
$border-color:#dedede;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Poppins', sans-serif;
$extra-font:'Hind', serif;
